//imports
@import "_fonts";
@import "fondos";

.Th1 {
    background-color: $Fondoh1;
    color: $titulo1;
    font-size: $Letra1;
    font-style: normal;
    font-weight: $peso1;
    text-align: center;
    margin-top: $MargenSUP1;
    margin-bottom: $MargenBOT1;
    line-height: $interlineado1;
}

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

body {
    background-color: #fffff;
    font-family: 'Barlow', sans-serif;
}

.container{
    background-color: whitesmoke;
}

footer { 
    background-color:#FF5A33 ;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo-h1s {
    background-color: #FFEC5C;
    color: black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 3rem;
}

.titulo-h2 {
    color: black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: dotted;
}
.titulo-h2p {
    color: black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.titulo-h3 {
    color: black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.titulo-h3p {
    color: black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.titulo-h4 {
    color: black;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    margin: 5px;
    text-align: right;
}

.textoDestacado {
    color: black;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    margin: 10px 5px 5px 5px;
}

p {
    color: black;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: auto;
    padding: 10px;
    line-height: 2rem;
}

.cajaProd {
    margin-top: 35px;
}
.cajaProd-img {
    margin-bottom: 10px;
}
.cajaProd3 {
    line-break: solid, black 4px;
}